/* @tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  display: flex;
  flex-direction: column;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

/* img {
  max-width: 100%;
  display: block;
  object-fit: cover;
} */
.card_image {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 680px;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  /* overflow-y: scroll; */
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  margin: 2%;
}
header {
  font-size: 2rem;
  font-weight: bold;
}
.card_image {
  height: 300px;
  margin-bottom: 10px;
}
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fav-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 680px;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  /* overflow-y: scroll; */
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  margin: 2%;
}


.ultimate-fav {
  display: flex;
  flex-flow: row wrap;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(39, 95, 151);
  margin-bottom: 100px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.nav-link:hover {
  text-decoration: underline;
}

.restaurant-map-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* show page image */

.profile_pic {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.show-image {
  height: 300px;
  width: 300px;
}

/* CSS */
.fancy-button {
  background-image: linear-gradient(#0dccea, #0d70ea);
  /* border: 0;
  border-radius: 4px; */
  box-shadow: rgba(79, 73, 73, 0.3) 0 5px 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
